<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <section>
        <div>
            <h1>Graduation 2023</h1>
            <h2>Gallery</h2>
            <img src="images/iswlogo.png" alt="">
            <h3>Relive the best moments of the Party!</h3>
        </div>
        
        <div>
            <img src="images/amercia.jpg" alt="">
            <img src="images/calaca.jpeg" alt="">
            <img src="images/carro.jpg" alt="">
            <img src="images/moto.jpg" alt="">
            <img src="images/troca.jpg" alt="">
            <img src="images/trailer.jpg" alt="">
            <img src="images/quince.jpg" alt="">
        </div>
        
        <div>
            <h1>GREAT MOMENTS HAPPEN ONCE IN YOUR LIFE!</h1>
            <H1>Graduation 2023</H1>
        </div>
    </section>
    
</body>
</html>